
@{
    ViewData["Title"] = "AboutUs";
}

<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="~/css/About_us.css" />
</head>
<body>

        <div class="content">
            <h1>About Us</h1>

            <h2>Restaurant History</h2>
            <p>Since 1992, with more than 25 years of experience, it has received five stars from the World Tourism Organization.</p>

            <h3>Mission</h3>
            <p>Our mission is to feed all customers, make them happy, and provide the best service 24 hours a day.</p>

            <h4>Values</h4>
            <p>Maintaining a high level of hospitality, implementing sustainable practices, making a positive impact, and being authentic.</p>
        </div>
    </div>

</body>
</html>
