@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Restaurant</h1>
    <p>Happy to see you here !</a>.</p>
    <img src="~/images/pexels-ash-376464.jpg" width="700" height="400" />
</div>
