@page
@model restaurantMenu.Views.Home.menuModel
@{

}
<html>
<head>
    <link rel="stylesheet" href="~/css/menu.css" />
</head>
<body>
<span> &nbsp; &nbsp;Hello, welcome to our Menu!</span>
<p class="breakfast-title">breakfast</p>
<div class="container">
<div class="breakfast-container">
    <div class="dishers">
           <img src="~/images/pexels-ash-376464.jpg" width="350" height="300"/>
            <p>&nbsp;honey pancake with fruit</p>
            <p>&nbsp;a delicious fruity dish served<br />&nbsp; with a high-quality honey<br />&nbsp; price is 10$</p></p>
    </div>
    <div class="dishers">
            <img src="~/images/steak tartare with eggs and chips.jpg" width="350" height="300" />
            <p>&nbsp;steak tartare with eggs and chips</p>
            <p>&nbsp;Our special steak served <br />&nbsp;with our special sauce and our <br />&nbsp;spicy chips <br />&nbsp;price is 10$</p>
           
            </div>
    <div class="dishers">
            <img src="~/images/pexels-karolina-grabowska-4963957.jpg" width="350" height="300" />
            <p>&nbsp;omelete bread</p>
            <p>&nbsp;Our omelete bread served with<br /> &nbsp;vegetables and spices <br />price is 10$</p>
            </div>
        <div class="dishers">
            <img src="~/images/pexels-nataliya-vaitkevich-6275163.jpg" width="350" height="300" />
            <p>&nbsp;shukshouka and falafel</p>
            <p>&nbsp;our traditional dish shukshouka with falafel <br>&nbsp;with the tasty tomato sauce<br>&nbsp;price is 10 $</p>
            </div>
</div>
    <p class="lunch-title">lunch</p>
<div class="lunch-container">
    <div class="dishers">
            <img src="~/images/kbab.jpg" width="350" height="300"  />
            <p>&nbsp;kebab</p>
            <p>&nbsp;kebab, a grilled meat served<br />&nbsp;with barbecue sauce</p>
            <p> &nbsp;price is 30$</p>
            </div>
    <div class="dishers">
            <img src="~/images/grilled chicken.jpg" width="350" height="300" />
            <p>&nbsp;grilled chicken</p>
            <p>&nbsp;the tasty grilled chicken with the special <br>&nbsp;brabecue sauce</p>
            <p> &nbsp;price is 30$</p>
            </div>
    <div class="dishers">
            <img src="~/images/chicken with vegetables.jpg" width="350" height="300" />
            <p>&nbsp;chicken with vegetables</p>
            <p>&nbsp;baked tasty chicken with vegetables</p>
            <p> &nbsp;price is 30$</p>
            </div>
        <div class="dishers">
            <img src="~/images/mixed grilled meat.jpg" width="350" height="300" />
            <p>&nbsp;mixed grilled meat</p>
            <p>&nbsp;mixed grilled meat for both meat lovers and &nbsp;chicken lovers</p>
            <p> &nbsp;price is 30$</p>
            </div>
</div>
    <p class="dinner-title">dinner</p>
<div class="dinner-container">
    <div class="dishers">
            <img src="~/images/burger.jpg" width="350" height="300" />
            <p>&nbsp;burger</p>
            <p>&nbsp;the authentic american meat burger</p>
            <p>Starting at 20$</p>
            </div>
    <div class="dishers">
            <img src="~/images/our special viggie pizza.jpg" width="350" height="300" />
            <p>&nbsp;Our special veggie pizza</p>
            <p>&nbsp;our special pizza served <br />with our brand &nbsp;vegetables</p>
    </div>
    <div class="dishers">
            <img src="~/images/chicken strips.jpg" width="330" height="300" />
            <p>&nbsp;chicken strips</p>
            <p>&nbsp;fried and spicy chicken strips</p>
    </div>
        <div class="dishers">
            <img src="~/images/tomato pasta.jpg" width="350" height="300" />
            <p>&nbsp;tomato pasta</p>
            <p>&nbsp;tomato pasta served with chicken or meat</p>
        </div>
</div>
    <p class="appetizers-title">appetizers</p>
    <div class="appetizers-container">
        <div class="dishers">
            <img src="~/images/fried-food-735004_1280.jpg" width="350" height="300" />
            <p>&nbsp;Onion Rings</p>
            <p>Deep-fried golden rings of sweet onion<br /> coated in a crispy batter<br /> Price: $3-5 for a basket.</p>

        </div>
        <div class="dishers">
            <img src="~/images/fries-4601057_1280.jpg" width="350" height="300" />
            <p>&nbsp;French Fries</p>
            <p>Golden-brown potato strips<br />perfect for dipping in ketchup or mustard<br />Price: $2-3 for a basket</p>
        </div>
        <div class="dishers">
            <img src="~/images/hummus-1058000_1280.jpg" width="330" height="300" />
            <p>&nbsp;Hummus</p>
            <p> A creamy dip made from mashed <br />chickpeas<br />Price: $4-6 for a small bowl.</p>
        </div>
        <div class="dishers">
            <img src="~/images/bread-2777583_1280.jpg" width="350" height="300" />
            <p>&nbsp;Garlic bread</p>
            <p> Slices of baguette toasted with olive oil and garlic<br />Price: $3-4 for an order.</p>
        </div>
    </div>
    <p class="desserts-title">desserts</p>
    <div class="desserts-container">
        <div class="dishers">
            <img src="~/images/cupcakes.jpg" width="350" height="300" />
            <p>&nbsp;Cupcakes</p>
            <p>Vanilla Bean Dream: Classic vanilla sponge<br /> infused with real vanilla bean flecks<br /> topped with silky<br /> Swiss meringue buttercream<br />starting at $2.50 each</p>
        </div>
        <div class="dishers">
            <img src="~/images/icecream.jpg" width="350" height="300" />
            <p>&nbsp;Ice cream cake</p>
            <p>
                Icy Bliss in Every Bite<br />Layered flavors of creamy ice cream<br /> & fluffy cake<br />crowned with frosting & sprinkles<br />Starting at $15
            </p>
        </div>
        <div class="dishers">
            <img src="~/images/choco cake.jpg" width="330" height="300" />
            <p>&nbsp;Blueberry cake</p>
            <p>Moist, fluffy cake studded <br />with juicy blueberries.<br />10$ each</p>
        </div>
        <div class="dishers">
            <img src="~/images/chocolate cake cup.jpg" width="350" height="300" />
            <p>&nbsp;Chocolate Mousse</p>
            <p>Indulge in pure chocolate ecstasy<br />Our velvety smooth mousse melts on your tongue<br />crafted with the finest dark chocolate<br /> and a touch of airy magic<br />10$ each</p>
        </div>
    </div>
</div>
</body>
</html>